@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-low: 216 251 229;
    --color-primary: 22 163 74;
    --color-secondary: 13 148 136;
    --color-secondary-low: 215 250 245;
    --color-secondary-high: 15 118 110;
  }

  :root.dark {
    --color-primary-low: 216 251 229;
    --color-primary: 58 237 125;
    --color-secondary: 56 232 207;
    --color-secondary-low: 215 250 245;
    --color-secondary-high: 34 139 124;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen antialiased;
  }

  ::selection {
    @apply bg-primary text-slate-50 dark:text-slate-900;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-b from-primary to-secondary;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent;
  }
}

.bprogress .bar {
  background: linear-gradient(to right, rgb(var(--color-primary)), rgb(var(--color-secondary))) !important;
}